<div *ngIf="!(currentUser$ | async)">
  <h1>Login</h1>

  <app-google-login></app-google-login>

  <h5>OR</h5>

  <app-email-login></app-email-login>
</div>

<div *ngIf="currentUser$ | async as user">
  <mat-card>
    <mat-card-title>
      <p>
        Logged in as <strong>{{ user.email }}</strong>
      </p>
    </mat-card-title>

    <mat-card-content>
      <p>
        Your access token is: <br/>
        <strong>{{ user.token }}</strong>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button (click)="logout()">Logout</button>
    </mat-card-actions>
  </mat-card>
</div>
